* {
    /* font-family: 'Mitr', sans-serif;
    font-family: 'Roboto Mono', monospace; */
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.menubar {
    width: 100%;
    height: 100px;
    background-color: #FAFAFA;
    box-shadow: 0 0 1px black;
}

.menubar h1 {
    position: relative;
    left: 50px;
    top: 5px;
    color: #e3e3e3;
    font-size: 60px;
}

.menubar h1::after {
    content: attr(data-text);
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    color: black;
    text-shadow: 0 0 1px black;
    overflow: hidden;
    animation: logo 5s linear forwards;
}

@keyframes logo {
    0% {
        width: 0;
    }
    100% {
        width: 175px;
    }
}

.menubar .profile-wrapper {
    position: relative;
    float: right;
    margin-top: -87px;
    right: 10px
}

.menubar .profile-wrapper .card button {
    border-style: none;
    box-shadow: 0 0 1px black;
    outline: none;
    background-color: white;
}

.menubar .profile-wrapper .card button:hover {
    background-color: #FAFAFA;
}

.column img {
    width: 50px;
    height: 50px;
    padding-bottom: 0px;
}

.columns .id {
    font-size: 22px;
    margin: -15px 0px 0px -20px;
}

.profile-wrapper .card .card-header {
    padding-bottom: 0px;
}

.card-header .columns {
    margin: 0px;
}

.showProfile {
    position: relative;
    left: 9px;
    margin-bottom: 0px;
    display: none;
}

.card-content .content {
    overflow-wrap: break-word;
}

.showProfile .card-footer:hover {
    background-color: #FAFAFA;
}

.column ul,
.column li {
    list-style: none;
}

.column .menu {
    position: absolute;
}

.comment {
    margin-top: -15px;
    box-shadow: 0 0 1px black;
}

.card-content input {
    margin-top: -15px;
}


/* .menubar .profile {
    position: relative;
    float: right;
    margin-top: -50px;
} */


/* .menubar ul.menuItem {
    position: relative;
    list-style: none;
    float: right;
    margin-top: -50px;
}

.menubar ul.menuItem li {
    font-weight: 600;
    font-size: 32px;
    float: left;
    margin: -15px 50px auto auto;
}

.menubar ul.menuItem li a {
    text-decoration: none;
    color: #333;
    border-bottom: 4px solid transparent;
    padding-bottom: 20px;
    transition: 0.5s ease;
}

.menubar ul.menuItem li a:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 0px;
} */

.footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: 100px;
    box-shadow: 0 0 1px black;
    background-color: #ff1c1c;
}