*{
    font-family: 'Mitr', sans-serif;
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
}


.menubar {
    width: 100%;
    height: 100px;
    background-color: #FAFAFA;
    box-shadow: 0 0 1px black;
}

.menubar h1{
    position: relative;
    left: 50px;
    top: 5px;
    color: transparent;
    font-size: 60px;
}

.menubar h1::before{
    content: attr(data-text);
    position: absolute;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    text-shadow: 0 0 1px black;
    overflow: hidden;
    animation: logo 3s linear;
}

.footer{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: 400px;
    box-shadow: 0 0 1px black;
    background-color: #ff1c1c;
}

@keyframes logo{
    0%{
        width: 0;
    }
    100%{
        width: 470px;
    }
}

/* .menubar ul.menuItem {
    list-style: none;
    float: right;
    margin-top: -50px;
}

.menubar ul.menuItem li{
    font-size: 24px;
    float: left;
    margin: -10px 150px auto auto;
}

.menubar ul.menuItem li a{
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: 0.5s ease;
}

.menubar ul.menuItem li a:hover{
    border-bottom: 2px solid #333;
    padding-bottom: 0px;
} */